.footer {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  margin-top: 92px;
}

.footer__copyright {
  max-width: 100%;
  width: 194px;
  height: auto;
  font-family: "Inter", sans-serif;
  line-height: 16px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin-top: 64px;
    padding-bottom: 24px;
  }
}
