.header__logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 34px;
}

.header__logo {
  width: 32px;
  height: 32px;
}

.header__logo-text {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 1279px) {
  .header__logo-wrapper {
    margin-top: 30px;
  }

  .header__logo {
    width: 32;
    height: 30;
    opacity: 1;
  }

  .header__logo-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo-wrapper {
    align-items: center;
    margin-top: 20px;
  }

  .header__logo {
    width: 24;
    height: 24;
    opacity: 1;
  }

  .header__logo-text {
    font-size: 11px;
  }
}
