.header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.header__logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 34px;
}

.header__logo {
  width: 32px;
  height: 32px;
  margin-bottom: 0;
}

.header__logo-text {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

@media screen and (max-width: 1279px) {
  .header__logo-wrapper {
    margin-top: 30px;
  }
  .header__logo {
    width: 32px;
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo-wrapper {
    margin-top: 20px;
    width: 100%;
  }
  .header__logo {
    width: 24px; 
    height: 24px;
  }
  .header__logo-text {
    font-size: 11px;
  }
}