.intro {
  max-width: 830px;
  margin-left: 148px;
  margin-right: 302px;
  font-family: "Inter", sans-serif;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin-top: 92px;
}

.intro__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.intro__author {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin-top: 10px;
}

.intro__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 720px;
    margin-top: 90px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}
