.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 56px;
}

.lead__title {
  font-weight: 900;
  color: #fff;
  font-size: 96px;
  line-height: 1.04;
  max-width: 720px;
  margin: 0 auto;
}

.lead__subtitle {
  font-weight: 400;
  color: #fff;
  font-size: 30px;
  line-height: 1.2;
  max-width: 720px;
  margin: 32px auto 0;
}

.lead__image {
  display: block;
  width: 100%;
  max-width: 984px;
  height: auto;
  max-height: 615px;
  object-fit: cover;
  margin: 64px auto 0;
}

@media screen and (max-width: 1023px) {
  .lead__title {
    font-size: 75px;
    line-height: 1.05;
  }

  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 543px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 288px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    max-width: 288px;
    margin-top: 16px;
  }

  .lead__image {
    margin-top: 40px;
  }
}
