@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

@import url("../blocks/logo.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/footer.css");

.page {
  background-color: #2a2c2f;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.page__content {
  max-width: 1280px;
  margin: 0 auto;
}
